<div>

	<h1>Causes</h1>

	<%= link_to "Add New Cause", new_donor_url %>
	<ul class="index">
		<% @causes.each do |cause| %>
		<li>
			<%= link_to cause[0]["name"], "/donors/#{cause[0]['id']}"  %>
		</li>
		<% end %>
	</ul>

</div>