<div>

	<h1>Causes</h1>

	<%= link_to "Add New Cause", new_cause_url %>
	<ul class="index">
		<% @causes.each do |cause| %>
		<li>
			<%= link_to cause.name, cause  %>
		</li>
		<% end %>
	</ul>

</div>