<h1>Add new Cause</h1>

<%= link_to "See All Causes", causes_url %>

<form class="new-cause" action="/causes" method="post">

	<p>
		<label for="access_token">Access Token</label>
		<input 
			id="access_token"
			name="cause[access_token]" 
			type="text" 
			placeholder="Insert Access Token" 
			autofocus
			required/>
	</p>
	<br>

	<p>
	<label for="rally_id">Rally Id</label>
	<input 
		id="rally_id"
		name="cause[rally_id]"
		type="text"
		placeholder="Insert Rally Id"
		required/>
	</p>

	<br>
	<br>

	<input type="submit" value="Add Cause"/>

</form>
