<div class="flash">
	<% if flash[:error] %>

		<% if flash[:error].class == Array %>
			<% flash[:error].each do |msg| %>
			<span class="error"><%= msg %></span>
			<% end %>
		<% else %>
			<span class="error"><%= flash[:error] %></span>
		<% end %>

	<% elsif flash[:notice] %>

		<% if flash[:notice].class == Array %>
			<% flash[:notice].each do |msg| %>
				<span class="notice"><%= msg %></span>
			<% end %>
		<% else %>
			<span class="notice"><%= flash[:notice] %></span>
		<% end %>

	<% end %>
</div>