/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	font-family: sans-serif;
}

.container {
	margin: 0px, 10px;
}

.donor-container {
	position: relative;
	box-sizing: border-box;
	height: 20px;
	width: 400px;
	border: 1px solid black;
	border-radius: 25px;
	margin: 5px;
}

.name {
	margin: 10px 10px;
}

.donation-bar {
	margin: 10px 10px;
}

.donation-amount {
	position: absolute;
	right: 5px;
	top: 0px;
}